body {
    margin: 0;
    font-family: Arial;
    background-color: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #3b82f6, #06b6d4);
}

.buttons a {
    margin: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 40px;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}