body {
    margin: 0;
    font-family: Arial;
    background-color: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #3b82f6, #06b6d4);
}

.buttons a {
    margin: 10px;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 40px;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}

/* Navbar hover */
nav a:hover {
    color: #38bdf8;
}

/* Button upgrade */
.buttons a {
    margin: 10px;
    padding: 12px 25px;
    background: linear-gradient(to right, #3b82f6, #06b6d4);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.buttons a:hover {
    transform: scale(1.1);
}

/* Card hover */
.project-card {
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* Glow effect */
h2 {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}
body {
    background: linear-gradient(-45deg, #0f172a, #1e293b, #020617, #0f172a);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {background-position: 0%}
    50% {background-position: 100%}
    100% {background-position: 0%}
}